.education-accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.education-item {
    background: var(--card);
    border: 1px solid var(--border);
    border-radius: 20px;
    overflow: hidden;
}

.education-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 28px;

    border: none;
    cursor: pointer;

    background: var(--education-header-bg);
    color: var(--text);

    font-size: 18px;
    font-weight: 700;

    transition: all .25s ease;
}

.education-header:hover {
    background: var(--education-header-hover);
}

.education-body {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .35s ease;
    background: var(--card);
}

.education-body-inner {
    overflow: hidden;
    padding: 0 28px;
    color: var(--sub);
    line-height: 1.8;
}

.education-item.active .education-body {
    grid-template-rows: 1fr;
}

.education-item.active .education-body-inner {
    padding: 28px;
}

.education-item.active .education-header {
    background: var(--education-active-bg);
    border-bottom: 1px solid rgba(70,166,255,.15);
    color: var(--accent);
}

.arrow {
    transition: transform .3s ease;
}

.education-item.active .arrow {
    transform: scaleY(-1);
}

.education-major {
    color: var(--text);
    font-weight: 600;
    margin-bottom: 6px;
}

.education-date {
    color: var(--accent);
    margin-bottom: 20px;
}

.education-list {
    padding-left: 22px;
    color: var(--sub);
}

.education-list li {
    margin-bottom: 16px;
    line-height: 1.8;
}