.education-accordion {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.education-item {
    background: var(--card);
    border: 1px solid var(--border);
    border-radius: 20px;
    overflow: hidden;
}

.education-header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 28px;

    border: none;
    cursor: pointer;

    background: #151b25;
    color: var(--text);

    font-size: 18px;
    font-weight: 700;

    transition: all .25s ease;
}

.education-header:hover {
    background: #1a2230;
}
    
.education-body {
    max-height: 0;
    overflow: hidden;
    background: var(--card);
    padding: 0 28px;
    color: #a8b2c1;
    line-height: 1.8;
    transition:
            max-height 0.35s ease,
            padding 0.35s ease;
}

.education-item.active .education-header {
    background: linear-gradient(
            135deg,
            rgba(70,166,255,.12),
            rgba(70,166,255,.04)
    );
    border-bottom: 1px solid rgba(70,166,255,.15);
    color: var(--accent);
}

.education-item.active .education-body {
    max-height: 300px;
    padding: 28px;
}
.arrow {
    transition: transform .3s ease;
}

.education-item.active .arrow {
    transform: scaleY(-1);
}

.education-major {
    color: var(--text);
    font-weight: 600;
    margin-bottom: 6px;
}

.education-date {
    color: var(--accent);
    margin-bottom: 20px;
}

.education-list {
    padding-left: 22px;
    color: var(--sub);
}

.education-list li {
    margin-bottom: 16px;
    line-height: 1.8;
}