.hero {
    margin-bottom: 90px;
}

.hero h2 {
    font-size: 60px;
    line-height: 1.05;
    max-width: 850px;
    margin-bottom: 28px;
}

.hero p {
    max-width: 760px;
    color: var(--sub);
    font-size: 22px;
    line-height: 1.7;
}